<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GunSimulator"
        tools:replace="@android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.BombDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.FlashActivity"
            android:exported="true"
            android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LightSaberDetailActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShockTaserDetailActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GunDetailActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ui.activity.CollectionActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="userPortrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5179928085266214~7926615538" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="lqGUIT0y_tfK6C5c6T2R1ryVFstQ80rAIshD105plzNqhwuIczfvNtkEBHo641RmoniR_0kTqg5nmarn4Ge58o" />
    </application>

</manifest>